<div class="center-container">
	<h3>Movies You Like</h3>

	<p>Its an ongoing project by me and probably will only be useful to me. I love movies and I love to hear about movies other people like. I've always been into "Top 10" lists or simply lists of "Movies You've got to watch." So my goal with this site is to simply say.. "hey, i've got this awesome playlist of scary movies and you've got to watch them, go to this site...". That's it. </p>

	<p> I hope other people enjoy the site and its not at all finished. This idea has been a couple weekend project. It started with the idea to find movies you might like. <strong>There wasn't at the time a way to type the name of a movie you like and get results... well now there is.</strong> Then a friend suggested why not add lists of cool movies you found on the site... and thats where we are now. I will keep adding things to the site, so feel free to message me if you ever have a great idea at jeff at masterpieceinteractive dot com.</p>
</div>