
    <h1 id="logo">Movies You Like</h1>
    <p class="tagline">Type the name of a movie you like... 
we'll find movies you'd like based on that movie.</p>

    <form id="movie-search" class="movie-search" action="static/related?search='value'">
        <input type="search" placeholder="Type the name of a movie" name="search">
        <input type="submit" value="submit">
    </form>

