
    <h1 id="logo">Movies You Like</h1>

   <p class="tagline">Type the name of a movie you like...
    after you like, and share enough movies we'll give you completely
    custom movie recommendations we think you'll like.
    <strong>Its fast, free, and absolutely fun.</p>

   <!--  <form id="movie-search" class="movie-search" action="static/related?search='value'">
        <input type="search" placeholder="Type the name of a movie" name="search">
        <input type="submit" value="submit">
    </form> -->
      <%= form_tag(search_index_path, :id => 'movie-search', :class => 'movie-search', :method => "get") do %>
        <%= text_field_tag(:query, nil, :class => "input-xlarge searchInput", :placeholder => "Type the name of a movie you like") %>
      <% end %>
</div>
