

            <div class="related clearfix">


                <section class="content-wrapper overview-short-description">

                    <script id="overview-short-description" type="x-handlebars-template">
                        {{#if poster_path}}
                            <a href="/static/view.html?movieID={{id}}"><img class="left movie-poster" src='http://d3gtl9l2a4fn1j.cloudfront.net/t/p/w154{{poster_path}}'></a>
                            {{else}}
                                <h3 class="left"><a href="/static/view?movieID={{id}}">{{original_title}}</a></h3>
                        {{/if}}
                        <p>{{overview}}</p>

                    </script>
                </section><!--//overview-short-description-->

                <section class="not-what-you-meant">

                      <script id="not-what-you-meant" type="x-handlebars-template">
                         <p class="small">Not the movie you were looking for? Try these:</p>
                        <ul>
                        {{#each results}}
                            <li><a href="/static/exactMovie?movieID={{id}}">{{title}}</a></li>
                        {{/each}}
                        </ul>
                    </script>
                 </section><!--//not-what-you-meant-->

                 <section class="related-movies">
                <script id="related-movies" type="x-handlebars-template">
                    <ul class="results clearfix">
                        {{#each results}}
                            <li class="left">
                                <a href="/static/view?movieID={{id}}">
                                    <h4 class="movie-title">{{title}}</h4>

                                    <img class="left" src='http://d3gtl9l2a4fn1j.cloudfront.net/t/p/w154{{poster_path}}'>
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                </script>
            </section><!--//related-movies-->


                <section class="no-results">
                      <script id="no-results" type="x-handlebars-template">
                         <p class="small">Whoa, you like some obscure movies... sorry we didnt find any movies for you. Try another search.</p>
                    </script>
                 </section><!--//no-results-->


            </div><!--//related-->



        <script>myMovieRec.initMovieData();</script>